apiVersion: v1
kind: Service
metadata:
  name: {{ include "deep-image-classifier.fullname" . }}
  labels:
    {{- include "deep-image-classifier.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.name }}
      protocol: TCP
      name: {{ .Values.service.name }}
  selector:
    {{- include "deep-image-classifier.selectorLabels" . | nindent 4 }}
